* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #09050D; }

html {
  position: relative;
  min-height: 100%; }

body {
  background: #EBEBF0;
  width: 100%;
  margin-bottom: 10rem; }

#banner,
.main-body,
.search-container,
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button {
  position: relative;
  width: 15rem;
  height: 4rem;
  background: #7ba8f5;
  color: #EBEBF0;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.35);
  border-bottom-width: 5px;
  transition: all 0.1s;
  cursor: pointer; }
  .button:active {
    border-bottom-width: 0px;
    top: 2px; }
  .button:focus {
    outline: none; }

#banner {
  width: 100%;
  height: 20rem;
  background: linear-gradient(90deg, #7beef5 0%, #5268f4 100%); }
  #banner .title {
    font-size: 4rem;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 4rem;
    text-transform: uppercase; }

.main-body {
  flex: 1;
  margin-top: -5rem; }
  .main-body .search-container {
    background: #FEFEFE;
    width: 80rem;
    height: 10rem;
    padding: 0 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px rgba(9, 5, 13, 0.05);
    margin-bottom: 2rem; }
    .main-body .search-container #textbox {
      width: 100%;
      height: 4rem;
      color: #09050D;
      border-radius: 0.5rem;
      border: 1px solid #B7B7CA;
      font-size: 3rem;
      padding: 0 2rem; }
      .main-body .search-container #textbox:focus {
        outline: none; }
  .main-body .gif-container {
    flex-flow: column wrap;
    position: relative;
    background: #FEFEFE;
    width: 80rem;
    min-height: 20rem;
    height: auto;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px rgba(9, 5, 13, 0.05);
    transition: ease-in-out 0.5s;
    transition: .8s opacity; }
    .main-body .gif-container:hover #card {
      opacity: 0.3; }
    .main-body .gif-container #card {
      width: 33.3%; }
      .main-body .gif-container #card:hover {
        opacity: 1; }
    .main-body .gif-container #load {
      width: 15rem;
      height: 4rem;
      margin: auto auto 2rem auto;
      bottom: 0; }

#footer {
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 8rem;
  bottom: 0;
  overflow: hidden;
  margin-top: 5rem; }
