$dark: #09050D;
$grey: #B7B7CA;
$white: #EBEBF0;
$purple: #5268f4;
$dark-purple: #4B355B;
$light-purple: #7ba8f5;
$light-blue: #7beef5;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: $dark;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: $white;
    width: 100%;
    margin-bottom: 12rem;
}

#banner,
.main-body,
.search-container,
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    width: 15rem;
    height: 4rem;
    background: #7ba8f5;
    color: $white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 0 2rem;
    text-transform: uppercase;
    border: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    border-bottom-width: 5px;
    transition: all 0.1s;
    cursor: pointer;
    &:active {
        border-bottom-width: 0px;
        top: 2px;
    }
    &:focus {
        outline: none;
    }
}

#banner {
    width: 100%;
    height: 20rem;
    background: linear-gradient(90deg, rgba(123, 238, 245, 1) 0%, rgba(82, 104, 244, 1) 100%);
    .title {
        font-size: 4rem;
        font-weight: bold;
        color: #FFF;
        margin-bottom: 4rem;
        text-transform: uppercase;
    }
}

.main-body {
    flex: 1;
    margin-top: -5rem;
    .search-container {
        background: #FEFEFE;
        width: 80rem;
        height: 10rem;
        padding: 0 2rem;
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 0px 5px 8px rgba($dark, $alpha: 0.05);
        margin-bottom: 2rem;
        #textbox {
            width: 100%;
            height: 4rem;
            color: $dark;
            border-radius: 0.5rem;
            border: 1px solid $grey;
            font-size: 3rem;
            padding: 0 2rem;
            &:focus {
                outline: none;
            }
        }
    }
    .gif-container {
        position: relative;
        background: #FEFEFE;
        width: 80rem;
        min-height: 20rem;
        max-height: auto;
        padding: 2rem;
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 0px 5px 8px rgba($dark, $alpha: 0.05);
        transition: ease-in-out 0.5s;
        transition: .8s opacity;
        &:hover .card {
            opacity: 0.3;
        }
        #gifs {
            max-width: 100%;
            display: flex;
            flex-flow: row wrap;
            flex-wrap: wrap;
            h1 {
                font-size: 3rem;
                color: $dark;
            }
            .card {
                width: 30%;
                margin: 1%;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    #load {
        width: 15rem;
        height: 4rem;
        margin: 2rem auto 1rem auto;
        bottom: 0;
    }
}

#footer {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    bottom: 0;
    overflow: hidden;
    margin-top: 5rem;
    #btn-container {
        display: flex;
        align-items: center;
        height: 5rem;
    }
    #bottom__text,
    #year {
        font-size: 2rem;
        margin: 1rem 0;
    }
}