$dark: #09050D;
$grey: #B7B7CA;
$white: #EBEBF0;
$purple: #334fff;
$dark-purple: #4B355B;
$light-purple: #a83acc;
$light-blue: #7beef5;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: $dark;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background: $white;
    width: 100%;
}
/* HEADER ###################################### */
#banner,
.main-body,
.search-container,
.button,
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    position: relative;
    width: 7rem;
    height: 4rem;
    background: $light-purple;
    color: $white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.35);
    border-bottom-width: 5px;
    transition: all 0.1s;
    cursor: pointer;
    &:active {
        border-bottom-width: 0px;
        top: 2px;
    }
    &:focus {
        outline: none;
    }
}
#banner {
    width: 100%;
    height: 10rem;
    background: rgb(168, 58, 204);
    h1{
        margin-top: 2em;
    }
}
.title,
.titleWord {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.typed-cursor {
    margin-left: .1em;
    font-size: 4rem;
    color: #fff;
}

/* MAIN CONTENT ###################################### */
.main-body {
    flex: 1;
}
.search-container {
    background: #FEFEFE;
    width: 100%;
    height: 10rem;
    padding: 0 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px rgba($dark, $alpha: 0.05);
    margin-bottom: 2rem;
}
#textbox {
    width: 100%;
    height: 4rem;
    color: $dark;
    border-radius: 0.5rem;
    border: 1px solid $grey;
    font-size: 3rem;
    padding: 0 2rem;
    text-align: center;
    &:focus {
        outline: none;
    }
}
.gif-container {
    position: relative;
    background: #FEFEFE;
    width: 100%;
    min-height: 20rem;
    max-height: auto;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px rgba($dark, $alpha: 0.05);
    transition: ease-in-out 0.5s;
    transition: .8s opacity;
    &:hover .card {
        opacity: 0.3;
    }
}
#gifs {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        font-size: 3rem;
        color: $dark;
        margin: 0 auto;
    }
    p, a {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }
    a{
        color: $purple;
        margin-top: .2em;
        width: auto;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        transition: all .8s;
        &:hover {
            border-color: $purple;
            transition: all .8s;
        }
        &:first-of-type{
            margin-left: 25%;
            margin-right: 15%;
        }
    }
    .card {
        width: 30%;
        margin: 1%;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        img {
            width: 100%;
        }
        .bigImage{
            margin: 0;
            padding: 0;
            height: 200px;
        }
    }
}
#load {
    display: none;
    width: 15rem;
    height: 4rem;
    margin: 2rem auto 1rem auto;
    bottom: 0;
}
/* FOOTER ###################################### */
#footer {
    width: 100%;
    height: 10rem;
    bottom: 0;
    margin-top: 18rem;
}
#btn-container {
    display: flex;
    align-items: center;
    height: 2rem;
}
#bottom__text,
#year {
    font-size: 2rem;
    margin: 2rem 0;
}

@media only screen and (min-width: 1025px) {
    body {
        margin-bottom: 12rem;
    }
    /* HEADER ###################################### */
    .button {
        width: 15rem;
        height: 4rem;
    }
    #banner {
        height: 20rem;
    }
    .title,
    .titleWord {
        font-size: 4rem;
    }
    .typed-cursor {
        font-size: 4.5rem;
    }
    /* MAIN CONTENT ###################################### */
    .main-body {
        margin-top: -5rem;
    }
    .search-container {
        width: 80rem;
        height: 10rem;
    }
    .gif-container {
        width: 80rem;
    }
    #gifs{
        a{
            margin-top: .5em;
            &:first-of-type{
                margin-left: 35%;
                margin-right: 20%;
            }
        }
    }
    /* FOOTER ###################################### */
    #footer {
        position: absolute;
        flex-direction: column;
        overflow: hidden;
        margin-top: 5rem;
    }
    #btn-container {
        height: 5rem;
    }
    #bottom__text,
    #year {
        margin: 1rem 0;
    }
}